---
import { extractPackageApi } from "@jsdocs-io/extractor";
import { globby } from "globby";

const { slug } = Astro.params;

const res = await extractPackageApi({
  pkg: slug ?? "",
});

const api = res.isOk() ? res.value : undefined;
const err = res.isErr() ? res.error : undefined;

const paths = await globby("**/bun", {
  cwd: "/",
  suppressErrors: true,
  absolute: true,
  onlyFiles: true,
});
---

<h1>{slug}</h1>

{
  api && (
    <>
      <h2>API</h2>
      <pre>{JSON.stringify(api, null, 2)}</pre>
    </>
  )
}

{err && <pre>{JSON.stringify(err, null, 2)}</pre>}

<h2>CWD</h2>
<pre>{process.cwd()}</pre>

<h2>Bun</h2>
<pre>{JSON.stringify(paths, null, 2)}</pre>
