---
import { extractPackageApi } from "@jsdocs-io/extractor";
import { $ } from "execa";

const { slug } = Astro.params;

const res = await extractPackageApi({
  pkg: slug ?? "",
});

const api = res.isOk() ? res.value : undefined;
const err = res.isErr() ? res.error : undefined;

const { stdout } = await $`./bun1/bun`;
---

<h1>{slug}</h1>

{
  api && (
    <>
      <h2>API</h2>
      <pre>{JSON.stringify(api, null, 2)}</pre>
    </>
  )
}

{err && <pre>{JSON.stringify(err, null, 2)}</pre>}

<h2>Bun</h2>

<pre>{stdout}</pre>
